<header class="headerWrap">
    <div>
        <a href="#">
            <img src="/images/common/sqTopLogo.png" width="100" height="auto" alt="S-Q">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="#">ONLINE STORE</a></li>
        </ul>
    </nav>
</header>